build:
  buildCommand: npm install && npm run build
  startCommand: npm start
  
services:
  - type: web
    name: campusevent-api
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3333
      - key: HOST
        value: 0.0.0.0
      - key: APP_KEY
        generateValue: true
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
